<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about-styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!--Bungee Hairline-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap" rel="stylesheet">

    <!--Share tech-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    
    
</head>
<body>
    <div class="container">
        <div class="info">
            <h1>Welcome to Gogle,</h1>
            Motivated by a strong desire to create something helpful for people, our team at <strong>Amrita Vishwa Vidyapeetham</strong> set out to make a search tool that can show short summaries of search results alongside the regular ones. 
            Clicking on links in Google search can take up a lot of time, especially for searches that aren't really necessary. 
            So, we came up with a new search tool and summarizer that can give a quick summary of a search, a YouTube video, and a webpage. 
            This could be useful in many situations. And we believe that further research could make this process even faster. More information <a class="git-readme" href="https://github.com/thepropotato/Gogle" target="_blank">here</a>. Meet our team.
        </div>
        
        <div class="creators">
            <div class="card">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/Venu.jpg') }}""></img>
                </div>
                <div class="details">
                    <div class="name">Venu Pulagam</div>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/venu-pulagam-a17042289/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/thepropotato" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/venupulagam/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="mailto:notvenupulagam@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/Lakshman.jpg') }}"></img>
                </div>
                <div class="details">
                    <div class="name">Velaga Lakshman</div>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/velaga-lakshman-8921b4302/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/Velagalakshman" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/v__lakshman" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="mailto:velagalakshman15@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/Manoj.jpg') }}"></img>
                </div>
                <div class="details">
                    <div class="name">Manoj Addala</div>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/venkata-siva-manoj-addala-62939a307"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/VenkataSivaManojAddala" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/venkata_siva_manoj_addala"><i class="fa-brands fa-instagram"></i></a>
                        <a href="mailto:addalavsm@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/Akash.jpg') }}"></img>
                </div>
                <div class="details">
                    <div class="name">Kamuju Akash</div>
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/akash-kamuju-b022b62b7/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/KAMUJUAKASH" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/i_akash_120" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="mailto:akashkamuju02@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <footer>Thanks for visiting &nbsp<strong>Gogle</strong>. Feedback via mail is appreciated.</footer>
    </div>
    
</body>
</html>